%center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

%center-vertical {
  top: 50%;
  transform: translateY(-50%);
}

%center-all {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%table-row {
  display: grid;
  grid-gap: 0 rem(30);
  grid-template-columns: repeat(3, 1fr);
}
